<div class="dashboard-container">
  <h2>Dashboard do Administrador</h2>
  <button (click)="onLogout()">Sair</button>
  <nav>
    <ul>
      <li><a routerLink="/admin/users">Gerenciar Usuários</a></li>
      <li><a routerLink="/admin/alunos">Gerenciar Alunos</a></li>
      <li><a routerLink="/admin/turmas">Gerenciar Turmas</a></li>
      <li><a routerLink="/admin/disciplinas">Gerenciar Disciplinas</a></li>
      <li><a routerLink="/admin/vinculos">Gerenciar Vínculos</a></li>

    </ul>
  </nav>
</div>


